@model Contacts.Models.LocalPasswordModel

@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>You're logged in as <strong>@User.Identity.Name</strong>.</h2>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

@(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))